* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url(./images/rainbow-vortex.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.section-main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
#painel-comparador,
#painel-extrato,
.painel-body {
   border: 2px solid #ff9d00;
   padding: 15px;
   border-radius: 10px;
}
#painel-comparador,
#painel-extrato {
   display: none;
   height: 263px;
   text-align: center;
   text-wrap: nowrap;
}

p {
   margin-bottom: 5px;
   margin-top: 7px;
}

.plano-local {
   color: #ffff;
}

/* animação e inputs */

.input-form::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

.button-form {
   display: flex;
   justify-content: center;
}

.input-form {
   border: 0;
   outline: 0;
   border-bottom: 2px solid rgb(150, 150, 150);
   cursor: text;
   margin-bottom: 15px;
   background: transparent;
   color: #ffff;
}

.input-group {
   margin-bottom: 15px;
   margin-top: 15px;
}

.input-group label {
   position: absolute;
   left: 1;
   color: rgb(150, 150, 150);
   font-size: 16px;
   transition: 0.5s ease-in-out;
}

.input-form:focus,
.input-form:valid {
   border-bottom: 2px solid #ff9d00;
}

.input-form:focus ~ label,
.input-form:valid ~ label {
   transform: translateY(-20px);
   font-size: 12px;
   color: #ff9d00;
}

@media (max-width: 720px) {
   #painel-comparador,
   #painel-extrato,
   .painel-body {
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
   }
}
@media (max-width: 625px) {
   .section-main .row {
      display: flex;
      flex-direction: column;
   }
}